.bio {
  display: flex;
  justify-content: center;
}

.bio-contents {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100px;
  width: 400px;
  border: 2px dashed blue;

  p {
    margin: 10px;
    justify-self: center;
  }
}

.avatar {
  justify-self: center;
  border-radius: 50%;
  min-width: 80px;
  margin: 10px;
}
